@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
html,
body,
#root {
  min-height: 100vh;
  min-width: 100vw;
}

@theme {
  --color-verde-terminal: oklch(0.87 0.294827 142.4953);
  --color-azul-terminal: oklch(0.54 0.1106 233.3);
}
